.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #003c77;
  box-shadow: var(--dark-shadow);
  z-index: 2;
  height: 4rem;
  display: flex;
  align-items: center;
}

.navbar h2 {
  color: aliceblue;
  padding: 10px;
}

.navbar Button {
  position: relative;
  color: #1f75bb;
}

.nav-icons {
  float: right;
  /* width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; */
}
